/* general */
li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    transition: 1.5s;
    scroll-margin-bottom: 100px;
}


.container {
    max-width: 100%;
    width: 100%;
    margin: auto;

}

.s-container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 3.33em;
    margin-top: 70px;
    font-weight: 900;

}

h2 {
    font-size: 25px;
}

h5 {
    font-size: 15px;
}

.gap-20 {
    gap: 40px;

}

/* cursor button header footer */


nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* header */



header {
    height: 55px;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: 0 -6px 100px 5px rgba(0, 0, 0, 0.5);

}

header li {
    margin: 0px 10px;
    font-size: 15px;
}

nav ul {
    display: flex;
    font-size: 15px;
    margin: 20px
}

.btn-bl {
    background-color: #0061FF;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 10px;

}

.btn-hd {
    background-color: #eff0f0;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 10px;

}

#section-c span.btn-hd a{
    text-decoration: none;
    color: black;
}

.btn-bl:hover {
    cursor: pointer;

}

.btn-blue {
    background-color: blue;
    color: white;
    padding: 8px;
    font-size: 15px;
    font-weight: 200;
}

.btn- {
    border: 2px solid black;
    padding: 10px;

}

.but-enter {
    right: 30px;
    top: 20px;

}


#left img {
    width: 20%;
}



/* main */

/* hero */
#hero {
    position: relative;
    margin: 82px 0px 120px 0px;
    max-height: 75vh;


}

#hero img {
    position: relative;
    width: 100%;
    height: 100%;

}

#hero div.btn-bl {
    margin-left: 0;
}

.left-a {
    margin-top: 50px;
    width: 30%;


}

.left-a i {
    margin-top: 30px;
    font-size: 30px;
    color: black;

}

.right-a {
    width: 70%;

}

.right-a img {
    width: 60%;
    position: relative;
    top: 50px;
    right: 0px;
}

main h4 {
    font-weight: 100;
}

/* section */
#hero {

    background-color: #B4D0E7;
    margin-top: 50px;
}

#section-b {
    margin-top: 50px;
    margin-bottom: 30px;
}

#section-b>div>h2 {
    padding: 20px 0px 20px 0px;

}

#section-b h6 {
    font-size: 10px;
}

.margin-t80>h4 {
    padding: 10px;
    font-size: 15px;
}

#section-b div.btn-bl {
    margin-bottom: 70px;
}



#section-b>div:nth-child(2) {
    margin: 70px 0px 40px 0px;
}

.bord {
    border: 1px solid rgb(218, 217, 217);
    font-size: 10px;
    height: 100%;
    line-height: 18px;


}

div.margin-t80 h4>i {
    font-size: 15px;

}


.enterprise {
    width: 70%;

}

.enterprise>h2 {
    padding-bottom: 17px;
    font-size: 25px;

}

.enterprise>h5 {

    padding-bottom: 50px;
}

.right-enter {
    width: 30%;
    justify-content: flex-end;

}

label {
    padding: 10px;
}

.box-b {
    width: calc(100% / 3 - 20px);
    padding: 10px 9px;

}

.box-b h4>i {
    font-size: 13px;
}

.ul-i-blk i {
    color: black;
}

.box-b li {
    margin-left: 20px;
    text-indent: -10px;

}


.box-b>div:first-child {
    text-align: center;
    border: 1px solid rgb(218, 217, 217);
    padding: 10px;
    font-weight: 500;
    font-size: 15px;

}

.box-b h2 {
    margin-bottom: 15px;
}


/* classe unicamente per font awesome prima scheda section-b */
.bl-i {
    font-size: 13px;
    color: blue;
}

.bord h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.left-b li {
    font-size: 10px;
    text-decoration: none;
}

.center-b {}

.right-b {}

input[type=radio]#blue {
    accent-color: rgba(17, 0, 255, 0.648);
    background: #fcfcfc00;
}


/* section c */
#section-c {
    margin-bottom: 170px;
}

.left-c img {
    width: 100%;
}

.right-c {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding: 30px;
    align-items: flex-start;
}

/* section d */

#section-d div.d-flex.f-wrap {
    gap: 50px;

}

.img-d {
    width: calc(100% / 3 - 50px);
}

.img-d img {
    width: 100%;
}

/* section e */
#section-e {
    margin: 100px auto;


}

#section-e div {
    width: 70%;
}

#section-e h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 70px;

}

/* section f */
#section-f {
    scroll-margin: 60px;
}



#section-f img {
    width: 70%;




}

#section-f>div {
    width: calc(100% / 3);
    aspect-ratio: 1/1;

}

.center-f {
    padding: 50px;
    background-color: #F5F5F5;

}

.center-f img {
    margin-bottom: 20px;
}

.right-f {}

.img-f {
    width: calc(100% / 2);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-f-a {

    transition: transform 1s ease-in-out;
}

.img-f-a:hover {
    transform: rotate(360deg);
}

.img-f img {
    filter: invert(100%);


}

/* section g */
#section-g {
    background-color: #B4D0E7;
    padding: 100px;

}


.left-g {
    font-size: 30px;
    width: 60%;
    font-weight: 200;
    color: #611847;
}

.right-g {
    margin-top: 20px;


}

.right-g a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #FFFFFF;
}




/* section h */

#section-h>div {
    margin: 150px auto;
}

.faq- {

    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.title-h {
    margin: 50px 0px 50px 0px;
}

details {
    margin: 40px auto;


}

details p {
    padding: 10px;
    
}


details>summary {
    font-size: 18px;
    font-weight: 700;
    list-style: none;
    cursor: pointer;

}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: ' ⌃';
}

details[open] summary:after {
    content: " ⌄";
}

/* color section-f */

.designit {
    background-color: #A2D39B;


}

.designit:hover {
    border: 10px solid #c0e1bb;
    transition: 0.4s;
}

.asu {
    background-color: #61082B;

}

.asu:hover {
    border: 10px solid #bc2460d3;
    transition: 0.4s;
}

.florida {
    background-color: #0093CE;

}

.florida:hover {
    border: 10px solid #b1e9ffe0;
    transition: 0.4s;
    s
}

.topps {
    background-color: #FF1C1C;
}

.topps:hover {
    border: 10px solid #ffb0b0;
    transition: 0.4s;
}

.world {
    background-color: #D5001F;

}

.world:hover {
    border: 10px solid #ff9cabd0;
    transition: 0.4s;
}

.hearst {
    background-color: #B4D0E7;
}

.hearst:hover {
    border: 10px solid #f3f9fff3;
    transition: 0.4s;
}

.lonely {
    background-color: #0D2481;

}

.lonely:hover {
    border: 10px solid #5a7bff;
    transition: 0.4s;
}

.channel {
    background-color: #FFD830;

}

.channel:hover {
    border: 10px solid #f7ebb5;
    transition: 0.4s;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 50px 0px 60px 0px;
}

footer li {
    position: relative;
}

footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.up {
    margin: 0 auto;

}

.up li {

    padding-top: 15px;
}

.up h2 {
    padding-bottom: 20px;
}

.down a,
i {
    color: #999999;
    padding-right: 6px;
    font-size: 15px;
    text-decoration: none;
}

.down a:hover {
    text-decoration: underline;
}

.down p {
    padding: 50px 0px 30px 0px;

}

.app-des {
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    display: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 2000;
    box-shadow: 10px 5px 10px rgba(255, 255, 255, 0.5);


}

.li-app-des:hover .app-des {
    display: block;

}

/* second hover ul footer */
.xdrop {
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    display: none;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 2000;
    box-shadow: 10px 5px 10px rgba(255, 255, 255, 0.5);
}


.li-xdrop:hover .xdrop {
    display: block;

}