/* general */
li {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: auto;

}

.s-container {
    max-width: 800px;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;

}

/* header */
header {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    background-color: white;

}

header .left ul {
    display: flex;
    font-size: 10px;
    margin: 20px
}

header .left li {
    margin: 0px 10px;

}


header .right ul {
    display: flex;
    font-size: 10px;
    margin: 20px;
}

header .right li {
    margin: 0px 10px;
}

/* hero */
#hero {
    position: relative;
    
    margin-top: 82px;

}

/* main */
main {}

#hero img {
    position: relative;
    width: 50%;
    top:130px;
    right: -40px;

}

/* section */
#section-a {
    
    background-color: #B4D0E7;
    margin-top: 70px;
}

#section-b{
    margin-top: 50px;
}

#section-g{
    background-color: #B4D0E7;
}

.img-sec-f {}

#section-f img {
    width: 100px;
    width: calc(100% / 4);
}

.left-f{

}

.center-f{

}

.right-f{

}




/* footer */
footer {}