* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* utility */
.fixed{
    position: fixed;
    z-index: 3000;
}

.debug {
    border: 1px solid red;
}

.padding-20{
    padding: 20px;
}


.margin-b-t {
    margin: 0px 0px 40px 0px;
}

.margin-t80{
    margin-top: 77px;
}
.margin-btm{
    margin-bottom: 58px ;
}

.font-size{
    font-size: 15px;
    padding-top: 10px;
}

/* flex */

.d-flex {
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}

.j-c-bet{
    justify-content: space-between;
}
.j-c-end{
    justify-content: flex-end;
}

.j-c-center {
    justify-content: center;
}

.align-c-c{
    align-content: center;
    align-items: center;
}

.align-start{
    align-items: flex-start;
}
.align-bas {
    align-items: baseline;
}

.align-c-s{
    align-items: flex-start;
    align-content: flex-start;
}

.f-column{
    flex-direction: column;
}

/* position */

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.text-center {
    text-align:center
}